.keyword-container {
    display: flex;
    flex-direction: row;
    padding-left: 70px;
    margin-bottom: 30px;
}
.keyword {
    display: flex;
    width: auto;
    height: 30px;
    margin-right: 15px;
    padding: 0 15px;
    border-radius: 15px;
    background-color: #2ec4b6;
    align-items: center;
    justify-content: center;
    color: white;
}
.add-keyword-container{
    display: flex;
    flex-direction: row;
    height: 30px;
    
}
.add-keyword-input {
    margin-right: 15px;
    padding: 0 15px;
    border: 0px;
    border-radius: 15px;
    outline: none;
}
.add-keyword-button{
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 15px;
    background-color: #2ec4b6;
}
.youtube_list {
    display: block;
    clear: both;
    content: '';
}
.youtube_list .list_box {
    width: 500px;
    float: left;
}
.youtube_list .list_item + .list_item {
    margin-top: 10px;
}